<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card" style="background-color: lightcoral;">
            <h3>Alertas MUY CALIENTE</h3>
            <span class="currentTemp">2 alertas</span>
            <!-- <button class="btn btn-danger">RESETEAR</button> -->
            <h5>Límite actual: mayor a {{hotLimit}}°C</h5>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">

        <div class="card" style="background-color: rgb(108, 181, 206);">
            <h3>Alertas MUY FRÍO</h3>
            <span class="currentTemp">4 alertas</span>
            <!-- <button class="btn btn-danger">RESETEAR</button> -->
            <h5>Límite actual: menor a {{coldLimit}}°C</h5>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">

        <div class="card">
            <h3>Cambiar Límites</h3>

            <form class="form-group" [formGroup]="limitesForm">

                <div class="row">
                    <div class="col-sm-12 col-md-6 center">
                        <label> Máximo ( Lo mas caliente en °C ): <input class="form-control" type="number"
                                formControlName="maximo">
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-6 center">
                        <label> Mínimo ( Lo mas frío en °C ): <input class="form-control" type="number"
                                formControlName="minimo">
                        </label>
                    </div>
                </div>
                <br>
                <button (click)="cambiarLimites()" class="btn btn-success">Cambiar</button>
            </form>
        </div>
    </div>

</div>