<div class="card text-center">
    <div class="card-header">
        Sobre este proyecto
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <b>Facultad de Ingeniería - UNAM</b></h5>
        <br><img src="https://www.ssa.ingenieria.unam.mx/img/encabezado/logo-fi.png" alt="Facultad de Ingeniería"><img
            src="https://www.c3.unam.mx/image/logoUnam.png" alt="UNAM">
        <br><b>Asignatura:</b><br> Proyecto de Fundamentos de Sistemas Embebidos
        <br><b>Semestre:</b> 2020-2
        <br>
        <br>
        <h5 class="card-text">
            <b>Información:</b>
            <br>
            <p style="text-align: justify;">
                Este es la parte del FRONT END para obtener las lecturas de un sensor de temperatura tanto en grados
                celcius como farenheit.
                <br>
                Igualmente, se pueden actualizar los límites de temperaturas para que el
                controlador pueda prender uno de los led creando un indicador rápido y sencillo de la temperatura.
                <br>
                Se puede conocer mas sobre estas dos funciones dentro de sus respectivas ventanas situadas en el menú
                <br>
                (el botón para abrir y cerrar éste menú se encuentra en la parte superior izquierda)</p>
        </h5>

        
        <h5 class="card-text">
            <b>Equipo:</b>
            <br>Jaime Porras Patricio 
            <br>Esparza Vázquez Luis Mauricio
            <br>Pichardo González Jenny Alejandra
            <br>Orozco Magadan Brandon
        </h5>

        <br>
        <a href="https://github.com/jppatricio" target="_blank" class="btn btn-primary">Ver proyecto
            en
            Github <span class="fa fa-github  ml-3"></span></a>
    </div>
    <div class="card-footer text-muted">
        Facultad de Ingenieria - UNAM - 2020
    </div>
</div>